@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #FFFFFF;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-20px) rotate(5deg);
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
