.themeSwitcher {

  .hoverLightButton {
    transition: width 0.3s;
  }

  .hoverDarkButton {
    transition: width 0.3s;
  }

  :hover {
    .hoverLightButton {
      width:45px;
    }

    .hoverDarkButton {
      width:45px;
    }
  }


  
}

