.themeSwitcher {
  transition: width 0.3s;

  .hoverDarkButton {
    transition: width 2s, height 2s;
  }

  .hoverLightButton {
    transition: width 2s, height 2s;
  }


  :hover {
    .hoverDarkButton {
      width:40px;
      height: 40px;
    }
    
    .hoverLightButton {
      width:40px;
      height: 40px;
    }
  }
}